html, body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #666666;
  background-color: lightblue;
  margin: 0;
  padding: 0;
  height: 100%;
}

.welcome {
  display: block;
}

h1 {
  color: #09427A;
  text-shadow: -1px 0 lightpink, 0 1px lightpink, 1px 0 lightpink,
    0 -1px lightpink;
}

#mensajeError {
  margin-top: -40px;
  color: red;
}

.step-validation {
  display: none;
}

.validation-msg {
  margin-top: 5rem;
}

.centrado {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -80%);
  font-family: helvetica;
  font-size: 15px;
  font-weight: 300;
  color: #09427a;
  background: rgb(243, 208, 143);
  margin: 0 0 25px;
  overflow: hidden;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  border-color: #09427a;
}

.btn {
  position: absolute;
  margin-left: -450px;
  margin-top: 170px;

  text-decoration: none;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: sans-serif;
  font-weight: 150;
  font-size: 25px;
  font-style: unset;
  color: #fff;
  background-color: #09427a;
  border-radius: 15px;
}

.btn-validate{
  margin-left: -450px;
  margin-top: 170px;
}

.btn-back{
  margin-left: -350px;
  margin-top: 60px;
}

.btn-close{
  margin-left: 200px;
  margin-top: 60px;
}

.validation-status {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: 'Fredoka One', cursive;
}

.valid-result{
color: green;
}

.invalid-result{
  color: red;
}

.card-logo{
height: 150px;
width: 200px;
}

footer {
  height: 50px;
  line-height: 50px;
  border-top: 1.5px solid #706e6eaf;  
  background-color: #C4C5C7;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
